#sl_2 {
	position: relative;
	display: block;
	text-align: left;
	width: 1000px;
	height: 830px;
	padding-bottom: 0px;
	margin: 10px 0 70px 0;
	-moz-border-radius: 25px 0px 25px 0px;
	-webkit-border-radius: 25px 0px 25px 0px;
	border-radius: 25px 0px 25px 0px;
	box-shadow: 3px 3px 4px #C1C1C1;
}

#sl_2_1 {
	position: relative;
	display: block;
	float: left;
	margin: 0px 0px 0px 0px;
	width: 1000px;
	-moz-border-radius: 25px 0px 25px 0px;
	-webkit-border-radius: 25px 0px 25px 0px;
	border-radius: 25px 0px 25px 0px;
}

#sl_2_1 img {
	margin: 40px 0px 30px 50px;
}

#sl_2_2 {
	position: relative;
	display: block;
	float: left;
	margin: 0px 0px 0px 0px;
	width: 1000px;
	text-align: center;
}

#sl_2_3 {
	position: relative;
	display: block;
	float: left;
	margin: 0px 0px 0px 0px;
	width: 1000px;
	text-align: center;
}

#sl_2_3 p {
	position: relative;
	display: block;
	float: right;
	margin: 0px 0px 45px 0px;
	width: 430px;
	text-align: left;
}

#sl_2_4 {
	position: relative;
	display: block;
	float: left;
	margin: 0px 0px 0px 0px;
	width: 1000px;
	display: inline;
}

#sl_2_4 table {
	display: block;
	float: left;
	margin: 5px 0px 0px 90px;
	width: 820px;
	text-align: left;
	display: inline;
}

#sl_2_4 table td {
	font-size: 14px;
	line-height: 30px;
	padding: 5px;
}

#sl_2_4 table div {
	background-color: transparent;
}

#sl_2_table {
	display: block;
	float: left;
	margin: 5px 0px 0px 120px;
	width: 800px;
}

.sl_2_table_input {
	width: 237px;
	height: 30px;
	margin: 10px 0px 0px 0px;
}

.sl_2_table_input1 {
	width: 190px;
	height: 30px;
	margin: 0px 0px 0px 0px;
}

.buttonSubmit {
	font-family: "STHeiti", "SimHei", "黑体";
	font-size: 14px;
	color: #FFFFFF;
	border: 1px #FF9900 solid;
	background-color: #FF9900;
	/*#DFAC63*/
	cursor: hand;
	width: 550px;
	height: 38px;
	margin-top: 3px;
	-moz-border-radius: 5px;
	/* Gecko browsers */
	-webkit-border-radius: 5px;
	/* Webkit browsers */
	border-radius: 5px;
	/* W3C syntax */
}